<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hl7.Fhir.ElementModel" version="3.7.0" targetFramework="net462" />
  <package id="Hl7.Fhir.R4" version="3.7.0" targetFramework="net462" />
  <package id="Hl7.Fhir.Serialization" version="3.7.0" targetFramework="net462" />
  <package id="Hl7.Fhir.Specification.R4" version="3.7.0" targetFramework="net462" />
  <package id="Hl7.Fhir.Support" version="3.7.0" targetFramework="net462" />
  <package id="Hl7.Fhir.Support.Poco" version="3.7.0" targetFramework="net462" />
  <package id="Hl7.FhirPath" version="3.7.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Extensions.Compression.Server" version="2.0.6" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Extensions.Compression.Server.Owin" version="2.0.4" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="2.1.3" targetFramework="net462" />
  <package id="Microsoft.Owin" version="4.2.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.2.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Hosting" version="4.2.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Memory" version="4.5.4" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>